 <div class="user-details">
  <h1> Research Interests </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user-details">
      <h2>Experience</h2>
      <p> Graduate Engineer at Addverb Technologies</p>
      <p> Technical Intern at Technoyantra</p>
      <p> Research Intern at University of Nevada, Reno</p>
      <p> Technical Intern at KPIT</p>
      <p> Research Intern at CSIR-CEERI Pilani</p>
  </div>
  <div class="user-details">
      <h2>Publications</h2>
      <p> Resource-aware Online Parameter Adaptation for Computationally-constrained Visual-Inertial Navigation Systems <a href="https://arxiv.org/pdf/2106.00289.pdf">(Paper)</a> <a href="https://youtu.be/H5gIe418zwc">(Video)</a></p>
      <p> Multi-Sensor Fusion-Based Object Detection Implemented on ROS <a href="https://drive.google.com/file/d/1yeTrDFH4CEOG3qhchyjN-uTY5WNSbtDx/view?usp=sharing">(Paper)</a></p>
      <p> A Generalized Kalman Filter Augmented Deep-Learning based Approach for Autonomous Landing in MAVs <a href="https://ieeexplore.ieee.org/document/9588758">(Paper)</a> <a href="https://drive.google.com/file/d/1O7AP_Z0ouNP84azHOgtc6AGB0qt8Akgy/view?usp=sharing">(Best Paper)</a></p>
      <p> BCI Controlled Quadcopter using SVM and Recursive LSE Implemented on ROS <a href="https://ieeexplore.ieee.org/document/9282898">(Paper) </a><a href="https://drive.google.com/file/d/1nZUoNGQx62PsvehzkU7sootWylCkYBo6/view?usp=sharing">(Paper)</a></p>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Skills</h2>
      <p> ROS | Tensorflow | Matlab | LATEX </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <p>C | C++ | Python | Java | Bash </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p> Proteus | LabVIEW | Cadence-Virtuoso | AutoCAD</p>
    </div>
</div>
