<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects"></div>
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/results.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sparse Image based Autonomous Navigation </h3>
    <ul>
      <li> ROS, Python, Tensorflow, Appearance Based Navigation</li>
    </ul>
    <p> Autonomous navigation using a sparse set of images using a deep-learning based model architecture - RoomNet, for coarse identification of the environment and a separate local navigation policy for local identification and navigation.</p>
    <a class="project-link" href="https://drive.google.com/file/d/1PfynUpmKV2fyUjLbNLEyLwXNAErQYDGG/view?usp=sharing">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Autonomous Navigation of Quadcopter using SLAM</h3>
    <ul>
      <li> ROS, Python, SLAM, Intel Realsense D435i, DJI F450, Intel LattePanda, Pixhawk 2.4.8</li>
    </ul>
    <p>Implemented an autonomous quadcopter for navigation in GPS denied environments using the RTAB-Map implementation of SLAM and an Intel Realsense D435i Depth Camera.</p>
    <a class="project-link" href="https://github.com/Matnay/Autonomous-Drone">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/3d.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> BCI based Quadcopter Control using RLSE </h3>
    <ul>
      <li> ROS, Brain-Computer Interface, Emotiv, Neuroscience, Octomap, Arduino</li>
    </ul>
    <p>Built a thought controlled Quadcopter for environment exploration for those with impaired moility. Implemented algorithm that improved control accuracy and human robot collaboration using an Emotiv EPOC+ headset</p>
    <a class="project-link" href="https://github.com/Matnay/Quad_BCI_EYE_TRACK_FUSION_EKF">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/20200117_044307.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Kratos - A Mars Rover </h3>
    <ul>
      <li> ROS, Arduino, Ubiquiti, Python</li>
    </ul>
    <p>Worked on setting up the communication and interfacing between sub-systems on the Mars Rover. Optimised algorithms to reduce latency in camera stream and data</p>
    <a class="project-link" href="https://github.com/Kratos-The-Rover">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Screenshot from 2020-06-22 15-14-01.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Object Detection using multi-modal sensor fusion for Self-Driving Cars</h3>
    <ul>
      <li> Tensorflow, ROS, Deep-learning, Computer Vision, OpenCV</li>
    </ul>
    <p>Worked on Object Detection of vehicles and pedestrians by fusing data from LiDAR, RADAR and monocular cameras implemented on ROS and evaluated on the NuScenes Dataset</p>
    <a class="project-link" href="https://github.com/Matnay/KPIT_Fusion_Object_Detection_DL">Check it out</a>
  </div>
</div>
