<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/20190617_141614.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Autonomous Navigation of Drones using SLAM</h3>
    <ul>
      <li> ROS, Python, SLAM, Intel Realsense D435i, DJI F450, Intel LattePanda, Pixhawk 2.4.8</li>
    </ul>
    <p>Implemented an autonomous drone for navigation in GPS denied environments using the RTAB-Map implementation of SLAM and an Intel Realsense D435i Depth Camera.</p>
    <a class="project-link" href="https://github.com/Matnay/Autonomous-Drone">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
